<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="c3p0.min_size">3</property>
		<property name="c3p0.max_size">100</property>
		<property name="c3p0.timeout">0</property>
		<property name="c3p0.maxStatements">10</property>

		<mapping class="com.derpthemeus.runeCoach.hibernate.LeagueEntity"/>
		<mapping class="com.derpthemeus.runeCoach.hibernate.MatchEntity"/>
		<mapping class="com.derpthemeus.runeCoach.hibernate.ParticipantPerkEntity"/>
		<mapping class="com.derpthemeus.runeCoach.hibernate.ParticipantEntity"/>
		<mapping class="com.derpthemeus.runeCoach.hibernate.SummonerEntity"/>
		<mapping class="com.derpthemeus.runeCoach.hibernate.AggregatedChampionStatsEntity"/>
		<mapping class="com.derpthemeus.runeCoach.hibernate.AggregatedTagStatsEntity"/>
		<mapping class="com.derpthemeus.runeCoach.hibernate.TagEntity"/>
		<mapping class="com.derpthemeus.runeCoach.hibernate.TagChampionEntity"/>
		<mapping class="com.derpthemeus.runeCoach.hibernate.PerkScoreEntity"/>
		<mapping class="com.derpthemeus.runeCoach.hibernate.PerkAlternativeEntity"/>
	</session-factory>
</hibernate-configuration>